<div class="container">
  <div class="row">

    <div class="col-xs-6">
      <input type="text" class="form-control" placeholder="szukaj..." ng-model="search">
      <br>
    </div>

    <div class="col-xs-6 text-right">
      <a href="#/admin/product/create" class="btn btn-success">Nowy produkt</a>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-12">


       <div class="panel panel-default" ng-repeat="product in products | filter : search">
        <div class="panel-body">
          <h2><span class="label label-warning pull-right">{{product.cena | number:2}} zł </span></h2>
            <h2><a href="#/admin/product/{{$index}}">{{product.nazwa}}</a></h2>
          <p>&nbsp;</p>
             <a href="#/admin/product/edit/{{$index}}" class="btn btn-info">Edytuj</a>
        <button ng-click="delete( product , $index )" class="btn btn-danger pull-right">Usuń</button>
        </div>
      </div>

    

    </div>
  </div>
</div>