<form ng-submit="saveChanges( product )">

<div class="container">

<div class="row">
  <div class="col-sm-6">

<div class="form-group">
  <label>Nazwa produktu</label>
   <input type="text" class="form-control" ng-model="product.nazwa">
   </div>
    
<div class="form-group">
  <label>Rozmiar</label>
   <input type="text" class="form-control" ng-model="product.rozmiar">
</div>


<div class="form-group">
  <label>Cena</label>
   <input type="text" class="form-control" ng-model="product.cena">
   </div>


  </div>

  <div class="col-sm-6">
    <h2>{{product.nazwa}}</h2>

    <p>Rozmiar: {{product.rozmiar}}</p>
    <h3>
      <span class="label label-warning">
      {{product.cena |number:2}} zł
    </span></h3>
  </div>

</div>
  <div class='row'>
    <div class="col-sm-12">
<br>
  <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
   <a href="#/admin/products" class="btn btn-primary">Wróć</a>
  <p>&nbsp;</p>
  </div>
</div>
</div>

</form>