<link rel="stylesheet" href="https://bootswatch.com/{{szablon}}/bootstrap.min.css">

    <link rel="stylesheet" href="style.css" type="text/css" />

 <style>
      #blok {

        position:relative;
        width:1000px;
        height:2.2em;
        line-height:2.2em;
        margin:0 auto;
        font-size:1.5em;
        background-color:white;
        overflow:hidden;
      }

      #blok > p {
        position:absolute;
        margin:0;
        white-space:nowrap;
        color:green;
        animation:przesun 30s linear infinite;
        -webkit-animation:przesun 30s linear infinite; /* dla Google Chrome, Safari, Opera 15+ */
      }

      #blok > p:hover {
        animation-play-state:paused;
        -webkit-animation-play-state:paused;
      }
    
      /* ------------ANIMACJA-PRZESUN------------ */
      @keyframes przesun
      {
        0% { transform:translateX(0); padding-left:110%; }
        100% { transform:translateX(-100%); padding-left:110%; }
      }

      @-webkit-keyframes przesun /* dla Google Chrome, Safari, Opera 15+ */
      {
        0% { -webkit-transform:translateX(0); padding-left:110%; }
        100% { -webkit-transform:translateX(-100%); padding-left:110%; }
      }


    </style>


<div id="blok">
      <p>PROMOCJA: -20% na wszystkie produkty ! Zapraszamy do zakupów </p>
    </div>


<div id="logo">
      <div align="right" align ="left">
    <img src="po2.jpg">


  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-sm-12 ">
      
      <nav class="navbar" style="background-color:#666633; font-face: Verdana; font-size: 14; color:#cccc99; font-weight: bold">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
           
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ng-class="{ active : isActive( '/products' ) }"><a href="#/products" style="background-color:#666633; font-face: Verdana; font-size: 14; color:#cccc99; font-weight: bold">Twoje warzywa</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="background-color:#666633; font-face: Verdana; font-size: 14; color:#cccc99; font-weight: bold">
              <li ng-if="cart" ng-class="{ active : isActive( '/cart' ) }"><a href="#/cart" style="background-color:#666633; font-face: Verdana; font-size: 14; color:#cccc99; font-weight: bold">Koszyk</a></li>
              <li ng-class="{ active : isActive( '/orders' ) }"><a href="#/orders" style="background-color:#666633; font-face: Verdana; font-size: 14; color:#cccc99; font-weight: bold">Zamówienia</a></li>
              <li ng-class="{ active : isActive( '/login' ) }" ng-if="!loggedIn"><a href="#/login" style="background-color:#666633; font-face: Verdana; font-size: 14; color:#cccc99; font-weight: bold">Logowanie</a></li>
              <li ng-class="{ active : isActive( '/logout' ) }" ng-if="loggedIn"><a href="" style="background-color:#666633; font-face: Verdana; font-size: 14; color:#cccc99; font-weight: bold" ng-click="logout()">Wyloguj się</a></li>
              <li ng-class="{ active : isActive( '/register' ) }" ng-if="!loggedIn"><a href="#/register" style="background-color:#666633; font-face: Verdana; font-size: 14; color:#cccc99; font-weight: bold">Rejestracja</a></li>
              <li ng-class="{ active : isActive( '/admin' ) }" ng-if="isAdmin"><a href="#/admin/users" style="background-color:#666633; font-face: Verdana; font-size: 14; color:#cccc99; font-weight: bold">Admin</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div class="alert alert-warning" ng-if="noAdmin">
        Nie jesteś adminem.
      </div>


    </div>
  </div>
</div>